<!DOCTYPE html>
<html ng-app="myApp" lang="es">

	<head>
    
		<!-- Common -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Emanuel Barreto">
		<title>Emanuel Barreto Git Hub Webpage</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" sizes="180x180">
		<link rel="icon" href="images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="images/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
		<link rel="icon" href="images/favicons/favicon.ico">
		<meta name="theme-color" content="#563d7c">

		<!-- Javascript -->
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/funciones.js"></script>
		<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>

	</head>
  
  <body>
    <div class="container">
  <header class="blog-header py-3">
	
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="">Subscribe</a>
      </div>
      <div class="col-8 text-center">
        <a class="blog-header-logo text-dark" href="" name="header" id="header">Emanuel Personal Blog</a>
      </div>      
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="d-flex flex-row bd-highlight mb-3">
      <a class="p-2 text-muted" href="">Programming</a>
      <a class="p-2 text-muted" href="">Photography</a>
    </nav>
  </div>
  
  <div class="jumbotron p-2 p-md-5 text-white rounded bg-dark">
		<div class="row">
			<div class="col-9">
				<h1 class="display-4 font-italic">Hi! I´m Emanuel</h1>
				<p class="lead my-3">Ok, my full name is Emanuel Hiram Barreto Hernandez, I have a lot of things that I love, but, for now, I going to say two, Programming and Photography.</p>
				<p class="lead mb-0"><a href="#myself" class="text-white font-weight-bold">Continue reading...</a></p>
			</div>
			<div class="col-3 d-none d-lg-block">
				<img src="images/20200506_124244.jpg" class="bd-placeholder-img" width="200" height="250 alt="Fotis">
			</div>
		</div>
	</div>
  
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Photography</strong>
          <h3 class="mb-0">Some Pictures</h3>
          <div class="mb-1 text-muted">may 20</div>
          <p class="card-text mb-auto">This pictures are some of many...</p>
          <a href="" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="images/DSC_3627.jpg" class="bd-placeholder-img" width="200" height="250 alt="Fotis">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Programming</strong>
          <h3 class="mb-0">Some codes</h3>
          <div class="mb-1 text-muted">May 20</div>
          <p class="mb-auto">Only a few.</p>
          <a href="" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
		  <img src="images/Matrix.png" class="bd-placeholder-img" width="200" height="250 alt="Fotis">
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Codeland
      </h3>

      <div class="blog-post">
		<a name="myself" id="myself"></a>
        <h2 class="blog-post-title">Introducing</h2>
        <p class="blog-post-meta">May, 2020 by <a href="">Ellemma</a></p>

        <p>My self...</p>
        <hr>
        <blockquote>
          <p>Well well, to begin with, I would say that I am a curious soul, that everything I do I have to do well, 
		  and if I don't know, I learn. My best way to learn is by taking courses, and by the way, I have taken courses on a wide variety of subjects, 
		  <strong>Dancing?</strong> Yes, I took a course (but please don't take me out to dance, which was the course a long time ago, 
		  unless you want to see a boxing robot dancing), <strong>Photography?</strong> Yes, also, in fact, I have done many years of photography, 
		  and I consider myself a good photographer. And finally, going to what we came to see, 
		  
        </blockquote>
        <h2>Programming</h2>
        <p>For many years I have been doing courses of different types of programming, Web page design, PHP language, Java language, with Web orientation and I saw that everything there was I learned that he lacked the degree that companies often need to be able to employ someone, it was then that I decided to start the career of University Technician in Programming at the UTN, that is, at the National Technological University.</p>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Project Manager, Application Support, Programmer, Supply chain specialist..</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://github.com/enigbaires">GitHub</a></li>
          <li><a href="https://twitter.com/enigbaires">Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/emanuel-barreto-hernandez/">Linkedin</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">

	<!--Nombre, Mail, Mensaje y un botón “Enviar”. -->
	
	<button onclick="mostrarOcultar();">Contact</button>
	
	<div ng-controller="MainController as main" id="mostrarOcultar" style="display:none">
	
		<form name="userForm" novalidate>
			<table class="user-form">
				<tr>
					<td>First Name: </td>
					<td><input type="text" ng-model="main.user.firstName" ng-minLength="2" required></td>
				</tr>			
				<tr>
					<td>Last Name: </td>
					<td><input type="text" ng-model="main.user.lastName" ng-minLength="2" required></td>
				</tr>
				
				<tr>
					<td>Email: </td>
					<td><input type="email" ng-model="main.user.email" required></td>
				</tr>
				<tr>
					<td>Comments: </td>
					<td>
					<textarea ng-model="main.user.comment" rows="5" cols="22" ng-minLength="10" required></textarea>
					
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button ng-click="main.submitForm(userForm)">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>
	

  <p>This Webpage was built only for examples purposes by <a href="https://www.linkedin.com/in/emanuel-barreto-hernandez/">@ellemma</a>.</p>
  <p>
    <a href="#header">Back to top</a>
  </p>
</footer>

</body></html>